@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}

.hero__body {
  text-align: center;
  padding-bottom: 0.5rem;
}

.hero__body__title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin: 0;
}

.hero__body__subtitle {
  font-size: 1.15rem;
  margin-top: 0.25rem;
  font-weight: 400;
  color: #666;
  text-align: center;
  margin: 0;
}

/* SERVICES */

.services {
  padding-top: 4rem;
}

.services__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.services__slider {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.services__slider__display {
  flex: 1;
  background: #cecece;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* لجعل الحواف دائرية */
}

.services__slider__list {
  flex: 1;
}

.services__slider__list__service {
  padding: 2rem;
  transition: all 0.4s ease-in-out;
}

.services__slider__list__service--active {
  background: #ececec;
}

.services__slider__list__service:hover {
  background: #ececec;
  opacity: 0.8;
  cursor: pointer;
}

.services__slider__list__service__title {
  margin: 0;
}

.services__slider__list__service__description {
  margin: 0;
}
